
#footer-clock {
    font-family: monospace;
    transition: opacity 0.3s ease;
}


footer {
    background-color: #111111b9;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff; 
    text-align: center;
    font-size: 14px;
}

.footer-content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* На мобильных устройствах футер скрываем */
@media (max-width: 768px) {
    footer {
        display: none;
    }
}

footer a {
    position: relative;
    color: #8a8a8a;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

footer a:hover {
    transform: translateY(-3px);
    color: #87ffe1; 
}
