
#footer-clock {
    font-family: monospace;
    transition: opacity 0.3s ease;
}


footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff; 
    text-align: center;
    font-size: 14px;
}

footer a {
    position: relative;
    color: #8a8a8a;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

footer a:hover {
    transform: translateY(-3px);
    color: #87ffe1; 
}
